.section2{
   width: 80vw;
   margin: 25px auto;
    /* position: relative;
    left: 50%;
    margin-left: -45vw;
    padding: 0; */
}
.section2Title{
    font-size: 24px;
    font-weight: 600;
    color: #555;
    line-height: 6rem;
    text-align: center;
    /* margin-left: 350px; */
    font-family:  YaHei,Helvetica Neue,Helvetica,Arial,sans-serif;
}
.myCol{
    height: 300px;
    border: 0.5px solid white;
}
.myCol:hover{
   
}
.section2Content{
    width: 100%;
    display: flex; 
    flex-flow: row wrap;
    justify-content: space-between;
   
    /* row-gap: 5px;
    column-gap: 6px; */
}
.section2Content img{
    height:min(200px,40vw);
    width:80vw;
    filter: brightness(0.8);
    transition: all 0.2s ease-out;
}
.section2Content img{
    
}
.section2Content img:hover{
    transform: scale(1.03);
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}
/* .section2Content table{

    width: 100%;
    
}
.section2Content table td{
    height: 13rem;
    border: 1px solid black;
}

.section2Content table td img{
    
} */

.myCard{
    margin:1%;
}