.carouselStyle{
  height: 60vh;
  width: 100%;
 
  color: #fff; 
  /* text-align: center; */

  background-repeat:no-repeat ;
  background-size:100%;  
  font-weight: 900;
  filter:brightness(0.7);
 
  
}
.carouselStyle::before{

  /* content: "";
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(3, 3, 3, 0.09); */
  /* background: linear-gradient(to bottom,rgba(0,0,0,0.7),transparent); */
  /* background-image: -webkit-linear-gradient(to bottom,rgba(0,0,0,0.7),transparent);
  background-image: -moz-linear-gradient(to bottom,rgba(0,0,0,0.7),transparent); */
  z-index: 1;
}
.carouselStyle img{
    width: 100vw;
    height: 70vh;
 
}

.carouselText{
   position:absolute;
   top:20%;
   left: 15%;
   height: 70%;
   text-align:center; 

   display: flex;
   justify-content: space-between;
   flex-flow: column nowrap;
   /* gap:10rem */
   /* justify-content: space-between; */


}
.changingText{
  height: 20%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  gap:2rem;
  
  text-align: start;
}
.changingText h1{
  font-size: 3rem;
  transition: all 0.1s ease;
  
 
}
.changingText p{
  font-weight: 300  ;
  font-size: 2vh;
  padding-left: 8px;
 
}
.carouselTitle{
  font-size:2rem;
}
.button{
   /* width: 120px;
   height: 50px; */
   width: 120px;
   padding: 0.5rem 1rem;
   background-color: none;
   border:1px solid #fff;
   font-weight: 300;
   transition: all .3s ease;

}
.button:hover{
  cursor: pointer;
  color: rgba(0, 0, 0, 0.8);
  background-color: #fff;
  font-weight: 600;
  
  
}

.animation1{
  animation: anim1 1.2s;
}
.animation2{
  animation: anim2 1.2s;
}

.animation3{
  animation: anim3 1.2s;
}
.animation4{
  color: red;
  animation-play-state: running;
}
@keyframes anim1{
  from{
    opacity: 0;
    margin-left: -100px;
  }
  to{
    opacity: 1;
   
  }
}

@keyframes anim2{
  from{
    opacity: 0;
    margin-left: -100px;
  }
  to{
    opacity: 1;
   
  }
}

@keyframes anim3{
  from{
    opacity: 0;
    margin-top: 200px;
  }
  to{
   
    opacity: 1;
   
  }
}





