
.section1{
    width: 90vw;
    margin: auto;
    display: flex;
    flex-flow: column nowrap;
    gap:4rem;
    /* gap:10rem */
   
      

}
.section1Title{
    font-weight: 700;
    /* line-height: 9rem; */
    font-size: calc(3vh + 0.5rem);
    color:green;
    text-align: center;
    margin-top:4rem;
}

.section1Content{
    display: flex;
    flex-flow: column nowrap;
    margin: 0 15%;
    transform: scale(1.1);
}
.section1Content img{
    width: 100%;
    
    /* filter: contrast(0.9) brightness(0.1) blur(0.8spx); */
}

.section1Text{
    background-color: #2e3329;
    color:white;

    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    gap:2rem;
    padding: 5%;
}
.section1Text p{
    /* line-height: 1.5rem; */
    text-indent: 20%;
    font-weight: 300;
    
    /* font-size: 1vw; */
}
.section1Text a{
    color: white;
    text-decoration: none;
    line-height: 0.2rem;
    
}
.services{
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    align-items: center;
    gap:3rem;
    margin: 3%;
    /* position: absolute; */
    /* width: 70%; */
    /* margin-left: -120px; */
    
}

.services i{    
    
    width: 120px;
    height: 120px;
    /* line-height: 110px;
    text-align: center; */
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    border: 1.2px dashed rgb(0, 0, 0, 0.2);
    /* font-size: 62px; */
    /* padding:50%; */
    /* color: #004e6d; */
    display: grid;
    place-content: center;
    transition: all 0.3s ease;
}
.services i:hover{
    transform: scale(1.02);
    margin-top: -5px;
}
.services i img{
    height: 70%;
}

.aService{
   
    text-align: center;
    display: flex;
    flex-flow: column nowrap;
    line-height: 1.7rem;
    justify-content: space-between;    align-items: center;
    gap:10px;
}
.aService h4{
    
    font-size: 1.2rem;
    font-family: sans-serif;
    color: rgba(0,0,0,0.5);
}
.aService p{
    font-weight: 300;
    font-family: sans-serif;
    color: rgba(0,0,0,0.8);
}