.section3{    
   width: 80vw;
   position: relative;
   left: 50%;
   margin-left: -40vw;
   color: white;
   
}
.sections{
    position: absolute;
    top:0;
    margin: 5% 10%;
    /* top:20%; */
    /* margin-top: -40vh; */
}
.innerSection{
    display: flex;
    /* justify-content:space-evenly; */
   
}
.section3 img{
    filter:blur(2px) brightness(0.8);
    width: 100%;
    height: 800px;
    /* position: relative;
    left:50%;
    margin-left: -40%; */
}

.sec3Description{
    /* height: 80vh; */
   
    /* margin-top:-30%; */
    
}
.part1, .part2{
 
}
.part1{
   padding-top:3em;
}

.part2{
    color: rgba(0,0,0,0.8);
    background-color: white;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-evenly;
    align-items: center;
    height: 50vh;
    width: 60%;
    border-radius: 10px;

    
}
.part1 h1{
    
    font-size: 2rem;  
    font-weight: 600;
}

.part2 h1{
   
}
.part2 form{
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    align-items: center;
      
}
.contactButton{
    display: block;
    width: 100%;
    margin-top: 9%;
  
    cursor: pointer;
    text-align: center;
    line-height: 50px;
    color: #fff;
    font-size: 19px;
    border-radius: 50px;
    border: none;
    background-color: rgba(7, 7, 94,.9);
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
   
}
.inputWrapper{
    /* width: 100%;    
    border-bottom: 1px solid #d8d8d8;
    height: auto;
    padding-top: 40px;
    /* padding-left: 72px; */
    /* line-height: 2rem;
    display: flex;
    gap: 10px;
    box-sizing: border-box;  */
    display: flex;
    width: 100%;
}
.inputWrapper input{
    border: none;
    outline: none;
    
}
.inputWrapper input:hover{
   
}
.inputWrapper input:focus{
    border-bottom: 0.5px solid blue;
}